.user.ini
*/.idea
*/.vscode
.DS_Store
*/.DS_Store
/node_modules
/storage/*.key
/storage/log
/storage/framework
/vendor
/public/hot
/public/storage
/public/upload
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
*.log
*.pid
.env
/public/env.json
/.idea