.under_content{width: 100%;padding: .27rem;min-height: 12rem;text-indent: 2em;font-size:.36rem }
.apply_button{width: 100%;text-align: center;}
.apply_button button {width: 60%;border-radius: .4rem;border: none;padding: .2rem 0;background: #37bac9;color: #fff;font-size: .36rem;}




