* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

body{
    padding-top: 1.2000rem;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.4800rem;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    background-color: #37bac9;
		z-index: 666;
}

.header .back {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0.4000rem;
    height: 0.5rem;
    width: 0.5rem;
    background: url(../../images/imtoken/10.png);
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.deal {
    font-size: 0.35rem;
    color: #ABABAB;
    padding: 0.1rem 0.0rem;
}

.box-btn-l {
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.4rem;
    background: #37bac9;
    border: 0;
    color: #FFFFFF;
    font-weight: 600;
    width:100%;
    outline: none;
    border-radius: .2rem;
}
.box-tab{
    width:100%;
}
.box-tab .title,
.box-tab-b .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.4rem;
    color: #ABABAB;
    font-weight: normal;
}
.kk{
    color: #ABABAB;
    font-size:0.4rem;
}

.box-tab .con,
.box-tab-b .con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: .6rem;
}
.box-tab .con span:first-child {
    color: #EB7957;
    font-size: 0.35rem;
    font-weight: bold;
	padding: 0.05rem 0.0rem;
}

.box-btc{
	font-size: 0.35rem;
    font-weight: bold;
    padding: 0.1rem 0.0rem;
}

.box-tab .con span:last-child {
    /* text-align: right; */
    font-size: 0.35rem;
    font-weight: bold;
}

.box-tab-b {
    margin-top: 0.25rem;
    width:100%;
}

.box-tab-b .con span:first-child {
    color: #37bac9;
    font-size: 0.35rem;
    font-weight: bold;
}

.box-tab-b .con span:last-child {
    font-size: 0.35rem;
    font-weight: bold;
}

.cont-btm {
    width: 100%;
    overflow: hidden;
}
.cont-btm .cont-box{
    padding: .2rem;
}
.cont-btm .line{
    height: .2rem;
    background-color: #eee;
}
.cont-btm .tit{
    padding: 0 .2rem;
    font-size: .45rem;
    font-weight: bold;
    border-left: .1rem solid #37bac9;
    color: #37bac9;
}
.cont-btm  .title{
    display: flex;
    align-items: center;
    font-size: .35rem;
    color: #999;
    height: .8rem;
    padding: 0 .3rem;
    border-bottom: 1px dashed #d4d4d4;
    justify-content: space-between;
}
.cont-btm  .title span{
    flex: 2;
    text-align: center;
}
.cont-btm .title span:last-child{
    flex: 1;
}

.cont-btm .complete_list .con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .3rem;
    color: #999;
    height: .6rem;
}
.cont-btm .complete_list .con span{
    flex: 2;
    text-align: center;
}
.cont-btm .complete_list .con span:last-child{
    flex: 1;
}

.centera .tab{
    position: fixed;
    top: 1.2rem;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.2rem;
}
.centera .tab p{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.centera p a {
    padding: .2rem .3rem;
    font-size: 0.35rem;
    color: #999999;
}

.centera {
    overflow: hidden;
	padding:1.2rem 0 2rem;
}

.box {
    display: none;
    width: 100%;
}

.hover {
    border-bottom: 1px solid #EB7350;
    color: #000000;
}
.plus,.plus2{
    position: absolute;
    right: .15rem;
    top: .22rem;
    width: .56rem;
    height: .56rem;
}
.all-balance{
    width:100%;
    height: 0.9rem;
    line-height: 0.9rem;
    box-sizing: border-box;
	border-radius: 0.125rem;
	border-color: #e0e0e0;
	outline: none;
    border: 1px solid #ccc;
    color: #000;
    font-size: .3rem;
    text-align: center;
}
.minus{
    position: absolute;
    left: .2rem;
    top: .25rem;
    width: .5rem;
    height: .5rem;
}
.box-btn{
        width: 47%;
        position: absolute;
      /* padding-top: 1rem; */
      bottom: .5rem;
      left: .2rem;
}
.complete_list{
    height: 3.6rem;
    overflow-y: scroll;
}
.shop-arithmetic {
    height: 0.9rem;
    line-height: 0.9rem;
    border: 0.025rem solid #e0e0e0;
    border-radius: 0.125rem;
}

.shop-arithmetic a {
    display: inline-block;
    width: 22%;
    text-align: center;
		height: 0.9rem;
}




.num {
	text-align: center;
    font-size: 0.4rem;
}

.icon-ipt{
	font-size: 0.8rem!important;
}

.plus-icon{
	float: right;
	color: #ABABAB;
}

.box-t{
	  width: 100%;
    padding: 0.2rem;
    overflow: hidden;
    border-bottom: 1px solid #F2F2F2;
    position: relative;
    min-height:8.5rem;
}

.box-l {
    float: left;
    height: auto;
    width:49%;
}

.box-r {
    overflow: hidden;
        padding: 0.0rem 0rem 0rem 0.3rem;
        width:51%;
}

.box-num {
    height: 0.9rem;
    line-height: 0.9rem;
    font-size:0.35rem;
    position: relative;
}

.box-num input {
    width:100%;
    height: 0.9rem;
    line-height: 0.9rem;
    box-sizing: border-box;
	border-radius: 0.125rem;
	border-color: #e0e0e0;
	outline: none;
    border: 1px solid #ccc;
    color: #000;
    font-size: .3rem;
    text-align: center;
}
.col-red{
    background-color:#EB7957;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ABABAB;
    font-size: 0.3rem;
    padding-left: 0.2rem;
}
.last-price{
    padding: .2rem;
    border:1px solid  #37bac9;
    border-radius: .1rem;
    color: #37bac9;
    font-size: .45rem;
    font-weight: bold;
    text-align: center;
    margin-top: .2rem;
}
.usable {
    padding: 0.125rem 0.1rem;
    /* margin: .1rem; */
    font-size: 0.25rem;
    color: #999;
}
.box .buy{
    margin:0.1rem 0 0.3rem 0.3rem;
}
.buy a{
    display:inline-block;
    width:22%;
    padding:0.15rem;
    text-align:center;
    margin-left:0.3rem;
    border-radius:0.1rem;
    background-color: #37bac9;
    color: #fff;
    font-size: .35rem;
}
.delLists{
    
    padding: 0 .3rem;
}
.delLists .title{
    display: flex;
    justify-content: space-between;
    align-content: center;
    color:#37bac9;
    font-size: .3rem;
    flex: 1;
    text-align: center;
}
.delLists .delCons{
    font-size: .25rem;
    color:#999;
}
.delLists .delCons .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem 0;
}
.delLists .delCons .item>*{
    flex: 1;
}
.delLists .delCons .do{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}
.delLists .delCons .do a{
    padding: .1rem;
    border:1px solid #37bac9;
    border-radius: .1rem;
    color: #37bac9;
    width: 90%;
    text-align: center;
}